{% extends "base-sp.html" %} 
{% load static %} 
{% block title %}DiabetoPlus | Change Password{% endblock title %} 

{% block content %}

<div class="container login_form">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Change Password</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-block">Change Password</button>
                        </div>
                    </form>
                    <p class="text-center">Cancel? <a href="{% url 'index' %}" class="text-decoration-none">Go back</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}