{% extends "base-sp.html" %}
{% load static %}
{% block title %}DiabetoPlus | Reset Password{% endblock title %}

{% block content %}
<div class="container login_form">
    {% if validlink %}
    <h3>Enter new password</h3>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-block">Reset Password</button>
    </form>
    {% else %}
    <p>The Password Link was Invalid, Possibly it has already been used.</p>
    <p>Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock content %}