{% extends "base-sp.html" %}
{% load static %}
{% block title %}DiabetoPlus | Profile{% endblock title %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-2 text-center my-3">
            <img src="" alt="Profile Image" class="profile-image mb-3">
            <h3 id="username" style="font-weight: bold;">{{ request.user.username }}</h3>
            <p id="email">{{ request.user.email }}</p>
            <a href="{% url "change_password" %}"><button class="btn btn-primary">Change Password</button></a>
        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs" id="profileTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#diet" role="tab">Diet Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#exercise" role="tab">Exercise Plan</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link" data-bs-toggle="tab" href="#uprofile" role="tab">Update Profile</a>
                </li>
            </ul>
            <div class="tab-content mt-2">
                <div class="tab-pane fade show active" id="diet" role="tabpanel">
                    <h4>Diet Plan</h4>
                    <p>View your recent activities.</p>
                </div>
                <div class="tab-pane fade" id="exercise" role="tabpanel">
                    <h4>Exercise Plan</h4>
                    <p>View and manage your feedback here.</p>
                </div>
                <div class="tab-pane fade" id="uprofile" role="tabpanel">
                    <h2>Update Profile</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}